//цветовая палитра ui kit
$main: #065398;
$main-text: #333333;
$main-grey: #6D6D6D;
$main-white: #ffffff;
$main-card: #F4FAFF;

//анимация
$main-transition: .3s ease-in-out;

//border-radius
$main-border-radius: 3px;

//default
$default-fontSize: 20px





