//цветовая палитра ui kit
$main: #065398;
$main-text: #333333;
$main-grey: #6D6D6D;
$main-white: #ffffff;
$main-card: #F4FAFF;

//анимация
$main-transition: background .6s, color .3s, border .4s;

//border-radius
$main-border-radius: 3px;

//default
$default-fontSize: 20px




